<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Imam Uploads</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">IQRA Hub Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/timetable/uploads">Timetable Uploads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pdf/uploads">PDF Uploads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notifications/uploads">Notification Uploads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ask-imam/uploads">Ask Imam Profile</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1 class="ml-3">Ask Imam Uploads</h1>

    <h3 class="mt-4 ml-3">Upload image for imam profile picture</h3>
    <form action="/ask-imam/image" enctype="multipart/form-data" method="post" class="w-50 pl-3">
        <div class="form-group">
            <label>Please ensure the file is an image and is of type jpg for the file format</label>
            <input type="file" name="picture" class="form-control-file">
        </div>
            <input class="btn btn-success mb-5" type="submit" value="Upload Image">
    </form>

    <h3 class="mt-1 ml-3">Update Imam description</h3>
    <form class="ml-3 w-50" method="post" action="/ask-imam/name">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" value="" required>
            <label>Description</label>
            <textarea class="form-control" name="desc" rows="3" value=""></textarea>
            <label>Email</label>
            <input type="email" class="form-control" name="email" value="" required>
            <label>Phone Number</label>
            <input type="number" class="form-control" name="number" value="" required>
            <small class="form-text text-muted">The information provided here will update the imam profile on the IQRA App</small>
        </div>
        <button type="submit" class="btn btn-primary mb-5">Submit</button>
    </form>
</body>
</html>