<!DOCTYPE html>
<html>
    <head>
        <title>Timetable Upload</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">IQRA Hub Management</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/timetable/uploads">Timetable Uploads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pdf/uploads">PDF Uploads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/notifications/uploads">Notification Uploads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ask-imam/uploads">Ask Imam Profile</a>
                    </li>
                </ul>
            </div>
        </nav>

        <h1 class="ml-3">Timetable Upload</h1>

        <form action="/pdf/uploads" enctype="multipart/form-data" method="post" class="w-75 pl-3">
            <div class="form-group">
                <label>Upload the timetable from here by clicking the browse button below (timetable file should be called currentTimetable.csv)</label>
                <input type="file" name="timetable" class="form-control-file">
            </div>
            <input class="btn btn-success mb-5" type="submit" value="Upload timetable">
        </form>

    </body>
</html>